.title-underline-base {
  position:absolute;
  height:2px;
  left:0px;
  right:0px;
  bottom:0px;
  /*padding-bottom:20px;*/
  margin-top:0px;
}

.title-underline {
  background-color:#000000;
  position:absolute;
  bottom:0px;
  width:20%;
  color:#537abd;
  height:2px;
  margin-bottom:0px;
}

.ia-title {
  font-family:Montserrat, sans-serif;
  margin-top:15px;
  font-size:30px;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:9px;
}

.ia-gray-title-underline {
  color:#e1e1e1;
  background-color:#e1e1e1;
  margin-bottom:0px;
}

.underline-fluid {
  height:2px;
  margin-bottom:5px;
  margin-top:0px;
}

.title-wira-wrapper {
  /*height:59px;*/
  /*margin-top:5px;*/
  margin-bottom:10px;
  /*margin-left:0px;*/
  /*margin-right:0px;*/
  /*padding-left:0px;*/
  /*padding-right:0px;*/
}

.col-title {
  padding-left:0px;
  padding-right:0px;
}

