.no-hor-padding-col {
  padding-left:0px;
  padding-right:0px;
}

.subcribe-title {
  color:white;
}

.subcribe-box-wrapper {
  background-color:#434343;
  padding-top:15px;
  padding-bottom:15px;
  /*height:20px;*/
}

.subcribe-button {
  width:100%;
  height:40px;
}

.subcribe-text-input {
  border:none;
  background-color:rgba(255,255,255,0.22);
  width:100%;
  margin-top:5px;
  margin-bottom:10px;
  height:30px;
}

.subcribe-text-input-label {
  color:white;
}

.wira-container {
  /*height:100vh;*/
  width:100%;
  padding-left:0px;
  padding-right:0px;
}

.fixed-wira-wrapper {
  height:100vh;
}

.special-subcontent {
  padding-top:5px;
}

@media (min-width: 300px) {
  .special-space {
    display:none;
  }
}

@media (min-width: 576px) {
  .special-space {
    /*display:none;*/
  }
}

.special-bg {
  /*background-image:linear-gradient(-45deg, #ff6b00, #ffa800);*/
  background-color:white;
}

@media (min-width: 300px) {
  .special-bg-xs {
    height:40vh;
  }
}

@media (min-width: 768px) {
  .special-bg-xs {
    height:0px;
  }
}

.special-bg-xs {
  background-size:100% auto;
  background-position:50% 100%;
}

.special-arrow-div {
  left:-15%;
  position:absolute;
  height:100%;
  width:15%;
  margin-top:50%;
  margin-bottom:50%;
}

.special-content {
  /*position:absolute;*/
  /*left:0px;*/
  margin-top:20px;
  bottom:20%;
  width:100%;
  /*height:100%;*/
  padding-left:10px;
  padding-right:20px;
}

.testi-content {
  /*position:absolute;*/
  left:0px;
  bottom:20%;
  width:100%;
  height:220px;
  /*padding-left:20px;*/
  /*padding-right:20px;*/
}

.quote-mark-wira {
  padding-top:20px;
  height:40px;
  background-repeat:no-repeat;
  background-image:url("../../assets/img/quote-mark.png");
  background-size:auto 100%;
}

.testi-bg {
  background-color:#434343;
  padding-top:15px;
  color:white;
}

.testi-photo {
  background-size:100% auto;
  background-position:center;
}

.testi-wrapper {
  margin-top:5px;
  margin-bottom:5px;
}

.quotes-person-postition {
  font-size:13px;
  color:rgba(255,255,255,0.51);
}

.technology-content {
  /*position:absolute;*/
  /*left:0px;*/
  /*padding-top:40px;*/
  top:0px;
  width:100%;
  /*height:100vh;*/
  padding-left:20px;
  /*padding-right:105px;*/
}

.special-arrow {
  margin:auto 0;
  /*height:100px;*/
  border-top:25px solid transparent;
  border-right:50px solid #4f4f4f;
  border-bottom:25px solid transparent;
}

@media (min-width: 300px) {
  .special-image {
    height:50vh;
    background-size:auto 100%;
    background-position:30% 50%;
  }
}

@media (min-width: 576px) {
  .special-image {
    height:50vh;
    background-size:100% auto;
    background-position:30% 50%;
  }
}

@media (min-width: 768px) {
  .special-image {
    height:100vh;
    background-size:auto 100%;
    background-position:40% 50%;
  }
}

.special-image {
  background-image:url("../../assets/img/special-image.jpg");
}

.right-side01-image {
  padding-right:0px;
  padding-left:0px;
}

@media (min-width: 300px) {
  .right-side01-bg {
    background-color:white;
    width:600px;
  }
}

@media (min-width: 768px) {
  .right-side01-bg {
    background-image:url("../../assets/img/right-side01.png");
    background-size:100% 100%;
    background-color:rgba(255,255,255,0);
    width:57%;
  }
}

@media (min-width: 992px) {
  .right-side01-bg {
    background-image:url("../../assets/img/right-side01.png");
    background-size:100% 100%;
    background-color:rgba(255,255,255,0);
    width:50%;
  }
}

.right-side01-bg {
  margin-left:-15px;
  /*width:543px;*/
  height:100%;
}

@media (min-width: 300px) {
  .head-img {
    /*height:80vh;*/
    /*margin-left:0px;*/
    /*margin-right:0px;*/
    background-size:auto 100%;
    background-position:center;
    background-image:url("../../assets/img/Tilly-handinhand.jpg");
  }
}

@media (min-width: 992px) {
  .head-img {
    /*height:80vh;*/
    /*margin-left:0px;*/
    /*margin-right:0px;*/
    background-size:100% auto;
    background-position:130% 50%;
    background-image:url("../../assets/img/Tilly-handinhand.jpg");
  }
}

.head-img {
  height:80vh;
  margin-left:0px;
  margin-right:0px;
  /*background-size:100% auto;*/
  background-position:center;
  background-image:url("../../assets/img/Tilly-handinhand.jpg");
}

.head-bottom {
  width:100%;
  /*position:absolute;*/
  bottom:0px;
  height:20vh;
  background-color:#434343;
  z-index:0;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

.head-container {
  background-size:100% auto;
  background-position:center;
}

@media (min-width: 300px) {
  .title-heading-wira {
    font-size:30px;
  }
}

@media (min-width: 768px) {
  .title-heading-wira {
    font-size:50px;
  }
}

.subtitle-heading-wira {
  font-size:14px;
}

@media (min-width: 300px) {
  .heading-wira {
    bottom:0px;
    margin-bottom:30px;
    margin-left:0px;
  }
}

@media (min-width: 768px) {
  .heading-wira {
    margin-bottom:30px;
    margin-left:40px;
  }
}

.heading-wira {
  /*color:rgb(0,0,0);*/
  /*padding-bottom:5%;*/
  position:absolute;
  bottom:0px;
  /*margin-bottom:30px;*/
  /*margin-left:40px;*/
  font-family:'Montserrat';
  font-weight:800;
  text-transform:uppercase;
  /*font-weight:800;*/
}

.coutersy-head {
  position:absolute;
  right:0px;
  bottom:0px;
  margin-right:10px;
  margin-bottom:5px;
  font-size:13px;
}

.heading-wira-wrapper {
  color:white;
}

@media (min-width: 768px) {
  .solution-wira {
    background-image:url("../../assets/img/aveo-eval-image.jpg");
    background-size:auto 110%;
    background-position:-80%;
  }
}

@media (min-width: 992px) {
  .solution-wira {
    /*background-image:url("Aveo-01.jpg");*/
    /*background-size:auto 110%;*/
    background-position:390px;
  }
}

.head-content {
  height:100%;
  width:100%;
  /*position:absolute;*/
  top:0px;
  z-index:1;
}

.problem-content {
  height:100vh;
  width:100%;
  position:absolute;
  top:0px;
}

.solution-content {
  height:100vh;
  width:100%;
  position:absolute;
  top:0;
}

.solution-content {
  height:100vh;
  width:100%;
  position:absolute;
  top:0px;
}

.wira-wrapper {
  width:100%;
  /*padding-right:15px;*/
  /*padding-left:15px;*/
  /*margin:0 auto;*/
  margin-right:auto;
  margin-left:auto;
  /*height:100vh;*/
  /*top:0px;*/
  /*position:absolute;*/
}

@media (min-width:576px) {
  .wira-wrapper {
    max-width:540px;
  }
}

@media (min-width:768px) {
  .wira-wrapper {
    max-width:720px;
  }
}

@media (min-width:992px) {
  .wira-wrapper {
    max-width:960px;
  }
}

@media (min-width:1200px) {
  .wira-wrapper {
    max-width:1140px;
  }
}

.aveo-desc-list {
}

.slider-wira {
  margin-right:auto;
  margin-left:auto;
  /*position:relative;*/
  /*height:100%;*/
  /*width:85%;*/
  background-size:100% auto;
}

.slider-wira-wrapper {
  /*height:100%;*/
}

.slider-wira-wrapper {
  height:500px;
}

.slider-wira-caption {
  position:absolute;
  bottom:0;
  /*left:0;*/
  width:100%;
  height:150px;
  background-color:rgba(255,255,255,0.49);
  padding-top:15px;
  padding-left:30px;
  padding-right:30px;
}

.head-title-slider-wira {
}

.special-row {
  height:100vh;
}

.problem-bg {
  /*height:100vh;*/
}

.member-profile {
  margin-left:auto;
  margin-right:auto;
  border:1px;
}

.position-startup-wira {
  margin-top:0px;
  margin-bottom:5px;
  font-weight:800;
  font-size:13px;
  color:rgb(129,129,129);
  /*t:left;*/
}

.title-startup-wira {
  margin-bottom:5px;
}

.chart-bg-img {
  /*height:80vh;*/
  margin-left:0px;
  margin-right:0px;
  background-size:100% auto;
  background-position:center;
  background-image:url("../../assets/img/medical-equipment-bg.jpg");
}

.chart-bg-content {
  /*height:80vh;*/
  width:100%;
  /*position:absolute;*/
  top:0px;
  z-index:1;
  /*background-color:rgba(0,0,0,0.55);*/
}

.chart-bg-overlay {
  background-color:rgba(0,0,0,0.89);
}

.chart-bg-title {
  color:white;
}

.apps-wrapper {
}

.apps-aveo-wira {
  height:600px;
  width:300px;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  background-image:url("../../assets/img/apps-flow.png");
  background-size:100% auto;
}

.apps-aveo-flow01 {
  height:60px;
  width:60px;
  position:absolute;
  right:-20px;
  top:25%;
  border-radius:50%;
  /*background-size:100% auto;*/
  background-color:#8c8c8c;
  /*position:relative;*/
}

.apps-aveo-flow02 {
  height:60px;
  width:60px;
  position:absolute;
  right:-20px;
  top:50%;
  border-radius:50%;
  /*background-size:100% auto;*/
  background-color:#393939;
}

.apps-aveo-flow03 {
  height:60px;
  width:60px;
  position:absolute;
  right:-20px;
  top:75%;
  border-radius:50%;
  /*background-size:100% auto;*/
  background-color:#4e4e4e;
}

.apps-aveo-flow-logo {
  width:100%;
  height:100%;
  background-size:auto 60%;
  background-position:center;
  background-repeat:no-repeat;
}

.aveo-apps-title {
  padding-top:20%;
  padding-left:0px;
  padding-right:0px;
}

@media (min-width: 300px) {
  .aveo-apps-flow-desc-wrapper {
    height:350px;
    margin-top:0px;
  }
}

@media (min-width: 768px) {
  .aveo-apps-flow-desc-wrapper {
    height:350px;
    margin-top:164px;
  }
}

.aveo-apps-flow-desc02 {
  margin-top:120px;
  margin-bottom:127px;
}

.chart-bg-case {
  margin-bottom:35px;
}

.chart-title {
  color:rgb(158,158,158);
  font-size:18px;
}

.chart-bg-courtesy {
  color:rgb(158,158,158);
  font-size:12px;
  position:absolute;
  bottom:-45px;
  padding-bottom:15px;
  right:15px;
}

.data-wira-source {
  font-size:12px;
}

.col-subcribe {
  margin-left:auto;
  margin-right:auto;
}

.col-subcribe {
  margin-left:auto;
  margin-right:auto;
}

.col-side-no-padding {
}

